{% extends "journey/base.html" %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}
    <style>
        .post-split {
            min-height: 400px;
        }

        .post-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    </style>
    <div class="container">
        <div>
            <h2>{{ post.title }}</h2>
            <h5 class="fst-italic">{% firstof post.author.get_full_name post.author.username %}</h5>
        </div>
        <div class="row post-split g-3 align-items-stretch">
            <div class="col-md-6 d-flex">
                <div class="w-100 h-100">
                    <img class="post-image rounded" src="{{ post.image_url }}" alt="image">
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="w-100 h-100 p-3 border rounded bg-light">
                    <p>Visited Places: {{ post.visited_places }}</p>
                    <p>Visited Date: {{ post.visited_date }}</p>
                    <p>Favorite Place: {{ post.favorite_place }}</p>
                    <p>Address: {{ post.address }}</p>
                    <p>Favorite Activity: {{ post.favorite_activity }}</p>
                {% if post.author == user %}
                    <a href="{% url 'journey:post_edit' pk=post.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'journey:post_delete' pk=post.pk %}"
                       onclick="return confirm('Are you sure you want to delete?')"
                       class="btn btn-danger">Delete</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div>
            <br>
            <p class="h4">Description</p>
            <div class="rich-content">{{ post.description|safe }}</div>
        </div>
        {% with comments.count as total_comments %}
            <h5>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h5>
        {% endwith %}
        {% for comment in comments %}
            <div>
                <p>
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                <div class="rich-content">{{ comment.body|safe }}</div>
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}
        {% if user.is_authenticated %}
            <h5>Add a new comment</h5>
            <form method="post">
                {{ comment_form.media }}
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
        {% endif %}
    </div>
{% endblock %}
